In [22]:
import pandas as pd

In [24]:
import numpy as np

In [117]:
#reading Train_data.csv in pandas
df=pd.read_csv("Train_data.csv")
df.head()

        Month  TransfersInMonth  BusinessDaysInMonth  IssuesInMonth
0   7/31/2007            867255                 26.5         873516
1   8/31/2007            801252                 22.0         872414
2   9/30/2007            811613                 21.0         890435
3  10/31/2007            837920                 27.5         851428
4  11/30/2007            801401                 20.5         850625

In [118]:
#perdaytransfer denotes number of transfers made in a single day
df['perdayTransfer'] = df['TransfersInMonth']/df['BusinessDaysInMonth']
#df['TransfersInMonth'] = (df['TransfersInMonth']-df['TransfersInMonth'].mean())/df['TransfersInMonth'].std()
print(df.head())
from sklearn.model_selection import train_test_split

        Month  TransfersInMonth  BusinessDaysInMonth  IssuesInMonth  \
0   7/31/2007            867255                 26.5         873516
1   8/31/2007            801252                 22.0         872414
2   9/30/2007            811613                 21.0         890435
3  10/31/2007            837920                 27.5         851428
4  11/30/2007            801401                 20.5         850625

   perdayTransfer
0    32726.603774
1    36420.545455
2    38648.238095
3    30469.818182
4    39092.731707

In [79]:
#dividing training dataset into training data and validation data 
#input features contain TransfersInMonth, BusinessDaysInMonth and perdayTransfer
#output feature is IssuesInMonth
X_train,X_test,y_train, y_test = train_test_split(df[['TransfersInMonth','BusinessDaysInMonth','perdayTransfer']],df['IssuesInMonth'], test_size=0.20, random_state=42)
#print(X_train,X_test,y_train,y_test)

In [80]:
#applying linear regression model on dataset
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)
print("regr.coeff:",regr.coef_,"Intercept:",regr.intercept_)
y_pred = regr.predict(X_test)
print(y_pred)

('regr.coeff:', array([3.37920713e-01, 1.76958922e+04, 1.66605231e+01]), 'Intercept:', -425023.75581334066)
[ 840587.7866475   934635.62925212  859857.39095256  812414.41893619
  850753.37273145  900061.52433552  959884.32209904  860825.14927824
  824684.9588742  1041833.15301556  792721.33683914  949540.04502118
  929490.34926753  863141.75615264  995967.47545465  950836.73266259
 1063496.25177412  882223.15298933  974904.19786787  997548.84222003
  945776.27993399  810272.84034501  791769.91704248  912055.11680845]

In [81]:
#computing MSE and mean absolute percentage error
from sklearn.metrics import mean_squared_error
print("Mean squared error: %.2f" % mean_squared_error(y_test,y_pred))
def mean_absolute_percentage_error(y_Test, y_pred):
    return np.mean(np.abs((y_Test - y_pred) / y_Test)) * 100
print(mean_absolute_percentage_error(y_test,y_pred))

Mean squared error: 1174143062.06
2.90191524386

In [82]:
#computing R2 score
from sklearn.metrics import r2_score
print('Variance score: %.2f' % r2_score(y_test,y_pred))

Variance score: 0.83

In [95]:
#reading test_data.csv in pandas
df_t=pd.read_csv("Test_data.csv")
df_t['perdayTransfer'] = df_t['TransfersInMonth']/df_t['BusinessDaysInMonth']
print(df_t.head())

        Month  TransfersInMonth  BusinessDaysInMonth  perdayTransfer
0   7/31/2017           1056019                 27.0    39111.814815
1   8/31/2017           1021590                 22.0    46435.909091
2   9/30/2017           1010038                 21.0    48097.047619
3  10/31/2017           1067153                 27.5    38805.563636
4  11/30/2017           1042316                 20.5    50844.682927

In [96]:
#x_t are input features to regression model
x_t = df_t[['TransfersInMonth','BusinessDaysInMonth','perdayTransfer']]
#y_t_pred are output values of testdata
y_t_pred = regr.predict(x_t)
y_t_pred = 
print(y_t_pred)

[1061239.32061224 1083148.82953076 1089224.7141344  1068747.37107388
 1137061.21436786 1170075.52009208]

In [103]:
#writing output to a new dataframe submission
Submission = pd.DataFrame(data=df_t['Month'])
Submission['IssuesInMonth']=pd.Series(y_t_pred)
Submission.head()

        Month  IssuesInMonth
0   7/31/2017   1.061239e+06
1   8/31/2017   1.083149e+06
2   9/30/2017   1.089225e+06
3  10/31/2017   1.068747e+06
4  11/30/2017   1.137061e+06

In [115]:
#writing Submission dataframe to csv file Submission.csv
Submission.to_csv('Submission.csv',columns=['Month','IssuesInMonth'])